* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}


#ruman {
     text-align: center;
     margin: 50px auto;
     transition: ease-in-out 0.5s;
     width: 35%;
     border-radius: 15px;
     background-color: white;
     padding-top: 20px;
     
}

body {
    background-image: url(IMGAE/banner.jpg);
    background-position: center;
    background-attachment: fixed;
}

#ruman img {
    width: 175px;
    padding-top: 40px;
    margin: 10px auto;
}

#ruman  h1 {
margin: 50px auto;
}

input {
    padding: 10px 10px 10px 10px;
    border: 2px solid;
    font-size: 15px;
}

::placeholder {
    color: black;
    font: 1em sans-serif;
    
}

p {
    font-size: 20px;
}

#ruman:hover {
    box-shadow: 0px 0px 0px 1px;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

input:hover {
    background-color: yellow;
}

a:hover {
    color: blue;
}